Analisis-Sentimen-Harian($BCT_$ECH).json
{
  "name": "Analisis-Sentimen-Harian($BCT_$ECH)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "68d2407a-789e-49ac-a312-51eb8f674614",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the sentiment of the following crypto news.\n\nRespond ONLY with ONE word: Positive, Negative, or Neutral.\n\nNews:\n{{ $json.title }} - {{ $json.contentSnippet }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "5f1ed4c3-665e-4249-b13f-215bf990356c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        528,
        -160
      ],
      "id": "9a710211-2005-424e-a78a-61b5cf8fd8df",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UaHKyzuDMOSuvJqV",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=BTC+OR+ETH",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "c89b28a7-751c-4d2d-8962-c560f0f1419d",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-AxreG1S9AHgLtLUtqdorhDesgF5ZPER-TZ-rFJrEZ4",
          "mode": "list",
          "cachedResultName": "Crypto Sentiment Google News RSS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AxreG1S9AHgLtLUtqdorhDesgF5ZPER-TZ-rFJrEZ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AxreG1S9AHgLtLUtqdorhDesgF5ZPER-TZ-rFJrEZ4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Title": "={{ $('RSS Read').item.json.title }}",
            "Sentiment": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        0
      ],
      "id": "4428a1bd-0409-4ad0-a80f-32382aeae3db",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YG0E2T0iwa4JdO66",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        304
      ],
      "id": "48d9545b-7ac3-4390-aa23-916b37669007",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-AxreG1S9AHgLtLUtqdorhDesgF5ZPER-TZ-rFJrEZ4",
          "mode": "list",
          "cachedResultName": "Crypto Sentiment Google News RSS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AxreG1S9AHgLtLUtqdorhDesgF5ZPER-TZ-rFJrEZ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 799099184,
          "mode": "list",
          "cachedResultName": "Data Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AxreG1S9AHgLtLUtqdorhDesgF5ZPER-TZ-rFJrEZ4/edit#gid=799099184"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        304
      ],
      "id": "a1d8b6c5-814e-406f-8af9-07eebfddb6d1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YG0E2T0iwa4JdO66",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let positive = 0;\nlet negative = 0;\nlet neutral = 0;\n\nfor (const item of items) {\n  const sentiment = item.json.Sentiment;\n\n  if (sentiment === 'Positive') positive++;\n  else if (sentiment === 'Negative') negative++;\n  else if (sentiment === 'Neutral') neutral++;\n}\n\nconst total = items.length;\n\nreturn [\n  {\n    json: {\n      total_tweets: total,\n      sentimen_positif: positive,\n      sentimen_negatif: negative,\n      sentimen_netral: neutral\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        304
      ],
      "id": "2d5a7cf0-07dc-47db-a62b-437f3c136fc4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah seorang analis sentimen media sosial.\nTuliskan kesimpulan singkat (dalam bahasa Indonesia) untuk laporan Telegram, berdasarkan data berikut:\n\n- Total Tweet Dianalisis: {{ $json.total_tweets }}\n- Sentimen Positif: {{ $json.sentimen_positif }}\n- Sentimen Negatif: {{ $json.sentimen_negatif }}\n- Sentimen Netral: {{ $json.sentimen_netral }}\n\nBerikan ringkasan singkat tentang apa arti angka-angka ini (misalnya, \"Sentimen hari ini cenderung positif,\" \"Ada banyak keraguan di pasar,\" dll.).\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        640,
        304
      ],
      "id": "30c109f6-b183-46f4-bd2c-f2140fa31e81",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        608,
        464
      ],
      "id": "30192186-7513-4eff-b916-863aa2756f45",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "UaHKyzuDMOSuvJqV",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5272821884",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        304
      ],
      "id": "30c94250-ebbc-45f4-8107-28fb8f336cb1",
      "name": "Send a text message",
      "webhookId": "7d886f89-be30-457b-8ace-fea82e76a427",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "136ef80a-53f0-41cd-8164-78cac3f173f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ba471f1d73f0afa696abfee19de2a4c3b8e1bda7786bd6c17f960f448c98e3f2"
  },
  "id": "T4gQiUFFSYUwqrkd",
  "tags": []
}