Invoice-Otomatis.json
{
  "name": "Invoice-Otomatis",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Pembuatan Invoice Otomatis",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Klien",
              "fieldName": "Nama Klien",
              "requiredField": true
            },
            {
              "fieldLabel": "Jam Kerja",
              "fieldName": "Jam Kerja",
              "requiredField": true
            },
            {
              "fieldLabel": "Rate",
              "fieldName": "Rate",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Klien",
              "fieldName": "Email Klien",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "1d394b9b-cd40-4b7a-a1fa-fe19f84b7afa",
      "name": "On form submission",
      "webhookId": "a025561b-2128-44f2-8bd5-dd54d1710a18"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2311f5ad-1091-4b39-9311-1ddc240da434",
              "name": "Nama Klien",
              "value": "={{ $json['Nama Klien'] }}",
              "type": "string"
            },
            {
              "id": "cb7a3e5b-b690-43db-a977-7511b41dbe3b",
              "name": "Jam Kerja",
              "value": "={{ $json['Jam Kerja'] }}",
              "type": "string"
            },
            {
              "id": "b437ddf0-a9d8-435c-8f19-ecf2ca2cdb09",
              "name": "Rate",
              "value": "={{ $json.Rate }}",
              "type": "string"
            },
            {
              "id": "16afd445-43bb-4523-8552-9ebf6452a8f0",
              "name": "Email Klien",
              "value": "={{ $json['Email Klien'] }}",
              "type": "string"
            },
            {
              "id": "3d4fb044-7a16-4dd5-8c15-82c2e802bad3",
              "name": "Total Biaya",
              "value": "={{ Number($json[\"Jam Kerja\"]) * Number($json[\"Rate\"]) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "63a44d9c-4065-485b-8883-666332895291",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Invoice</title>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background: #f4f6f8;\n      padding: 40px;\n      color: #333;\n    }\n\n    .invoice-wrapper {\n      max-width: 800px;\n      margin: auto;\n      background: #ffffff;\n      border-radius: 8px;\n      padding: 40px;\n      box-shadow: 0 4px 12px rgba(0,0,0,0.08);\n    }\n\n    .invoice-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      border-bottom: 2px solid #eaeaea;\n      padding-bottom: 20px;\n      margin-bottom: 30px;\n    }\n\n    .invoice-header h1 {\n      margin: 0;\n      font-size: 28px;\n      color: #1f2937;\n      letter-spacing: 1px;\n    }\n\n    .invoice-meta {\n      text-align: right;\n      font-size: 14px;\n      color: #555;\n    }\n\n    .section {\n      margin-bottom: 30px;\n    }\n\n    .section-title {\n      font-size: 14px;\n      font-weight: bold;\n      color: #6b7280;\n      text-transform: uppercase;\n      margin-bottom: 8px;\n    }\n\n    .client-info p {\n      margin: 4px 0;\n      font-size: 15px;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 15px;\n    }\n\n    table thead th {\n      background: #f9fafb;\n      border-bottom: 2px solid #e5e7eb;\n      padding: 12px;\n      text-align: left;\n      font-size: 14px;\n    }\n\n    table tbody td {\n      padding: 12px;\n      border-bottom: 1px solid #e5e7eb;\n      font-size: 14px;\n    }\n\n    table th:nth-child(2),\n    table th:nth-child(3),\n    table th:nth-child(4),\n    table td:nth-child(2),\n    table td:nth-child(3),\n    table td:nth-child(4) {\n      text-align: right;\n    }\n\n    .total-box {\n      margin-top: 30px;\n      display: flex;\n      justify-content: flex-end;\n    }\n\n    .total-box table {\n      width: 300px;\n    }\n\n    .total-box td {\n      padding: 10px;\n      font-size: 15px;\n    }\n\n    .total-box tr:last-child td {\n      font-weight: bold;\n      font-size: 18px;\n      border-top: 2px solid #111827;\n    }\n\n    .footer {\n      margin-top: 50px;\n      font-size: 13px;\n      color: #6b7280;\n      text-align: center;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"invoice-wrapper\">\n\n    <!-- HEADER -->\n    <div class=\"invoice-header\">\n      <h1>INVOICE</h1>\n      <div class=\"invoice-meta\">\n        <div>Tanggal: {{ $now }}</div>\n        <div>Invoice #: INV-{{ $execution.id }}</div>\n      </div>\n    </div>\n\n    <!-- CLIENT INFO -->\n    <div class=\"section client-info\">\n      <div class=\"section-title\">Ditagihkan Kepada</div>\n      <p><strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong></p>\n      <p>{{ $('On form submission').item.json['Email Klien'] }}</p>\n    </div>\n\n    <!-- DETAIL TABLE -->\n    <div class=\"section\">\n      <div class=\"section-title\">Detail Pekerjaan</div>\n\n      <table>\n        <thead>\n          <tr>\n            <th>Deskripsi</th>\n            <th>Jam</th>\n            <th>Rate</th>\n            <th>Subtotal</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td>Jasa Pekerjaan / Konsultasi</td>\n            <td>{{ $('On form submission').item.json['Jam Kerja'] }}</td>\n            <td>{{ $('On form submission').item.json['Rate'] }}</td>\n            <td>{{ $json['Total Biaya'] }}</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n\n    <!-- TOTAL -->\n    <div class=\"total-box\">\n      <table>\n        <tr>\n          <td>Total Tagihan</td>\n          <td style=\"text-align:right;\">\n            Rp {{ $json['Total Biaya'] }}\n          </td>\n        </tr>\n      </table>\n    </div>\n\n    <!-- FOOTER -->\n    <div class=\"footer\">\n      Invoice ini dibuat secara otomatis.<br>\n      Terima kasih atas kepercayaan Anda.\n    </div>\n\n  </div>\n</body>\n</html>\n\n\nNode Gmail\n<p>Yth. <strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong>,</p>\n\n<p>Terima kasih atas kepercayaan Anda telah menggunakan jasa kami.\n<br>\nBersama email ini, kami lampirkan invoice untuk pekerjaan yang telah diselesaikan.</p>\n\n<p>Berikut adalah ringkasan singkat tagihan Anda:</p>\n<ul>\n    <li><strong>Total Jam Kerja:</strong>  {{ $('On form submission').item.json['Jam Kerja'] }}jam</li>\n    <li><strong>Total Tagihan:</strong> {{ $('Edit Fields').item.json['Total Biaya'] }}</li>\n    <li><strong>Jatuh Tempo:</strong> 14 hari</li>\n</ul>\n\n<p>Detail lengkap, termasuk rincian pekerjaan dan instruksi pembayaran, dapat Anda temukan pada file PDF yang terlampir:{{ $json.pdf_url }}</p>\n\n<blockquote style=\"border-left: 4px solid #ccc; padding-left: 15px; margin-left: 0; font-style: italic;\">\n  <strong>Catatan Keamanan:</strong> Untuk melindungi Anda, kami tidak akan pernah meminta informasi password atau data sensitif melalui email. Harap lakukan pembayaran hanya ke nomor rekening resmi yang tertera di dalam invoice PDF.\n</blockquote>\n\n<p>Jika ada pertanyaan lebih lanjut, jangan ragu untuk membalas email ini.</p>\n\n<p>Hormat kami,</p>\n\n<p><strong>[Zen / Vedara Company]</strong><br>\n[Vedara / 123456789]</p>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "e0e3bc98-e829-4736-97a9-145b1bd2b77e",
      "name": "HTML"
    },
    {
      "parameters": {
        "html_content": "={{ $json.html }}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "1fa63aa8-34ce-4559-b451-ec2dcb648334",
      "name": "Convert HTML to PDF",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "zDQYlwWIJa89jxUW",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.pdf_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "eab49716-0599-401d-9329-869b94523402",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json['Email Klien'] }}",
        "subject": "=Invoice dari Vedara Company untuk  {{ $('Edit Fields').item.json['Nama Klien'] }}",
        "message": "=<p>Yth. <strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong>,</p>\n\n<p>Terima kasih atas kepercayaan Anda telah menggunakan jasa kami.\n<br>\nBersama email ini, kami lampirkan invoice untuk pekerjaan yang telah diselesaikan.</p>\n\n<p>Berikut adalah ringkasan singkat tagihan Anda:</p>\n<ul>\n    <li><strong>Total Jam Kerja:</strong>  {{ $('On form submission').item.json['Jam Kerja'] }}jam</li>\n    <li><strong>Total Tagihan:</strong> {{ $('Edit Fields').item.json['Total Biaya'] }}</li>\n    <li><strong>Jatuh Tempo:</strong> 14 hari</li>\n</ul>\n\n<p>Detail lengkap, termasuk rincian pekerjaan dan instruksi pembayaran, dapat Anda temukan pada file PDF yang terlampir:{{ $json.pdf_url }}</p>\n\n<blockquote style=\"border-left: 4px solid #ccc; padding-left: 15px; margin-left: 0; font-style: italic;\">\n  <strong>Catatan Keamanan:</strong> Untuk melindungi Anda, kami tidak akan pernah meminta informasi password atau data sensitif melalui email. Harap lakukan pembayaran hanya ke nomor rekening resmi yang tertera di dalam invoice PDF.\n</blockquote>\n\n<p>Jika ada pertanyaan lebih lanjut, jangan ragu untuk membalas email ini.</p>\n\n<p>Hormat kami,</p>\n\n<p><strong>[Zen / Vedara Company]</strong><br>\n[Vedara / 123456789]</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        0
      ],
      "id": "8e9b563c-cef6-4c5e-a449-b2371769c44d",
      "name": "Send a message",
      "webhookId": "963799bf-d1b3-46f8-b2af-0c2a63bea9c9",
      "credentials": {
        "gmailOAuth2": {
          "id": "FtAByi3qtk8Rdqg6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "611d70e1-a217-4829-a8ee-9c1c13ea7175",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ba471f1d73f0afa696abfee19de2a4c3b8e1bda7786bd6c17f960f448c98e3f2"
  },
  "id": "4qjKWAdsBJZ2tTlV",
  "tags": []
}