Rekrutment-Screening-Otomatis.json
{
  "name": "Rekrutment-Screening-Otomatis",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Form Rekrutment Posisi Mentor",
        "formDescription": "Harap isi form dibawah ini sesuai dengan ketentuan yang berlaku",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Lengkap",
              "fieldName": "Nama Lengkap",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldName": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Pengalaman",
              "fieldType": "dropdown",
              "fieldName": "Pengalaman",
              "fieldOptions": {
                "values": [
                  {
                    "option": "< 1 tahun"
                  },
                  {
                    "option": "1 - 3 tahun"
                  },
                  {
                    "option": "3 > tahun"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Upload CV",
              "fieldType": "file",
              "fieldName": "Upload CV",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {
          "path": "rekrutment-mentor-nfa"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "4105c2f2-8f63-46c1-9a49-75d578650fb6",
      "name": "On form submission",
      "webhookId": "3368657d-05b0-480d-b006-dcbfe0cf480f"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Ambil data input \n\nfor (let item of items) {\n  const binaryData = item.binary?.Upload_CV__PDF_;\n\n  if (binaryData) {\n    item.json.cv_base64 = binaryData.data; // Data base64 internal \n    item.json.fileName = binaryData.fileName;\n  }\n\n  // Tambahkan tanggal format Indonesia menggunakan Luxon \n  item.json.tanggal_input = DateTime.now().toFormat('dd-MM-yyyy HH:mm');\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "5af7a148-66f1-42a0-a435-54736c07a273",
      "name": "Mengonversi ke Base64"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_CV",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "6d08cea9-fd7c-46d4-98a5-2857ac29d539",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Peran: Anda adalah Senior Technical Recruiter yang sangat teliti dan objektif. Tugas Anda adalah mengevaluasi teks CV kandidat di bawah ini untuk posisi Automation Engineer/Developer.\n\nKonteks CV Kandidat:\n\"\"\"\n{{ $json.text }}\n\"\"\"\n\nInstruksi Penilaian:\n1. Analisis pengalaman kerja, keahlian teknis (Hard Skills), dan latar belakang pendidikan.\n2. Identifikasi apakah kandidat memiliki pengalaman dengan tool seperti: n8n, Javascript, Python, SQL, atau API Integration.\n3. Berikan skor profesional dari 0-100.\n   - Skor < 50: Tidak relevan/Pemula.\n   - Skor 50-75: Menengah/Potensial.\n   - Skor > 75: Sangat Cocok/Senior.\n\nFormat Output (WAJIB JSON):\nJangan berikan basa-basi atau teks pembuka. HANYA berikan output JSON valid dengan struktur berikut:\n{\n  \"candidate_name\": \"Nama lengkap kandidat (jika ada)\",\n  \"years_of_experience\": \"Estimasi total tahun pengalaman (angka)\",\n  \"top_skills\": [\"Skill 1\", \"Skill 2\", \"Skill 3\", \"Skill 4\", \"Skill 5\"],\n  \"summary\": \"Ringkasan profil kandidat dalam 1 paragraf pendek (maksimal 30 kata) dalam Bahasa Indonesia.\",\n  \"strengths\": \"Poin kuat kandidat\",\n  \"weaknesses\": \"Kekurangan/hal yang perlu diklarifikasi\",\n  \"score\": 0,\n  \"hiring_recommendation\": \"YES / NO / MAYBE\"\n}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        0
      ],
      "id": "48e1d4ba-d6cd-48cb-8673-a40751438f3c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "id": "35d70069-7b22-4ce2-80e2-8f4ea9ace138",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UaHKyzuDMOSuvJqV",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (let item of items) {\n  const aiResponseText = item.json.text; // Output teks dari LLM\n  \n  try {\n    // 1. Bersihkan formatting jika AI memberikan markdown ```json ... ```\n    const cleanJson = aiResponseText.replace(/```json|```/g, '').trim();\n    \n    // 2. Parse string menjadi Objek\n    const parsedData = JSON.parse(cleanJson);\n    \n    // 3. Masukkan ke item.json agar bisa dipanggil node selanjutnya\n    item.json.ai_name = parsedData.candidate_name;\n    item.json.ai_exp = parsedData.years_of_experience;\n    item.json.ai_skills = parsedData.top_skills.join(\", \"); // Array jadi string\n    item.json.ai_summary = parsedData.summary;\n    item.json.ai_score = parsedData.score;\n    item.json.ai_rec = parsedData.hiring_recommendation;\n    \n  } catch (error) {\n    // Fallback jika AI gagal generate JSON valid\n    item.json.error = \"Gagal parsing JSON dari AI\";\n    item.json.raw_output = aiResponseText;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        0
      ],
      "id": "bc83e3d5-227a-4490-934c-42f10d3ea6d4",
      "name": "Mengubah ke JSON Object"
    },
    {
      "parameters": {
        "chatId": "5272821884",
        "text": "=Nama: {{ $json.ai_name }} \nSkills: {{ $json.ai_skills }} \nScore: {{ $json.ai_score }} \nSummary: {{ $json.ai_summary }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        0
      ],
      "id": "dc86bdbf-4e41-41f4-b369-1226084ebc87",
      "name": "Send a text message",
      "webhookId": "9921d68f-cb4b-441b-bc21-e0cb0ec4b103",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Mengonversi ke Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengonversi ke Base64": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Mengubah ke JSON Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengubah ke JSON Object": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "01c1b08e-371d-43f4-8a64-9d7e74110492",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ba471f1d73f0afa696abfee19de2a4c3b8e1bda7786bd6c17f960f448c98e3f2"
  },
  "id": "7AHJcljQprcQchg7",
  "tags": []
}