SOP-Otomatin-Bot.json
{
  "name": "SOP-Otomatin-Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3a89b7e5-f04d-4758-959d-41ca35a9b51c",
      "name": "Telegram Trigger",
      "webhookId": "be9265ed-fe71-4840-9fe1-0bdccb4cd4b0",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "96d2cb05-825a-4621-9fc3-da4a74c90f8d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5d573a9d-0779-472b-88be-07892883e320",
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "d819a2f9-e75f-4356-8942-90e982305f19",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41a7a9be-ae58-4ddc-a8a0-4d3beb989f62",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        -16
      ],
      "id": "ed35d7bc-68fd-466c-a620-4deb6d1bd953",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Untuk memulai percakapan harap ketik /start",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        80
      ],
      "id": "2485381d-3688-434d-8476-a5e37df4de1f",
      "name": "False output",
      "webhookId": "8cb4d7d5-7be3-4c4b-b68f-77da1ebbef3e",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Selamat datang di Asisten SOP GenAI Anda bisa bertanya melalui tombol dibawah ini.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        -80
      ],
      "id": "96382082-7152-4b39-92bc-7de89cc47862",
      "name": "True output",
      "webhookId": "691042d0-e380-4c7e-804f-6cdb733030af",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a88cd74-7cc0-4123-9527-120394cf34db",
              "name": "reimbursement",
              "value": "Karyawan harus mengisi formulir, melampirkan bukti bayar asli, dan menyerahkannya ke manajer. Pembayaran akan diproses dalam 14 hari kerja.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        352
      ],
      "id": "ba5f4589-e624-4dcf-bfe0-2552b539ff2f",
      "name": "Reimbursement"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1da34ad3-d7ec-4929-b7bb-c8e68e8a2108",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "reimbursement",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        352
      ],
      "id": "86e87db2-01d5-40e2-9e42-dce3267aa6c5",
      "name": "True reimbursement"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "= {{ $json.reimbursement }}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        336
      ],
      "id": "84adb18e-1988-4b43-a9d4-9df58e92434e",
      "name": "True reimbursement1",
      "webhookId": "691042d0-e380-4c7e-804f-6cdb733030af",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f9fabe5-b80a-492c-9f58-94e682bd3893",
              "name": "cuti",
              "value": "Karyawan harus mengajukan cuti melalu portal HRD setidaknya 2 minggu sebelum tanggal cuti.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        608
      ],
      "id": "7f708588-5837-490c-86a1-fe3b2f8efde9",
      "name": "Cuti"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9f5858d-3ade-4f48-a1fe-5caa008f7ef6",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "cuti",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        608
      ],
      "id": "2718d58e-4ea7-4844-913c-769b5bf92d56",
      "name": "True cuti"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "= {{ $json.cuti}}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        592
      ],
      "id": "4fef1d92-36ee-4e35-ad4b-e425f4f463fc",
      "name": "True cuti1",
      "webhookId": "691042d0-e380-4c7e-804f-6cdb733030af",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70d6de7e-6f42-41b4-b364-2619133b29c3",
              "name": "lembur",
              "value": "Lembur harus mendapat persetujuan atasan terlebih dahulu. Perhitungan lembur mengikuti ketentuan UU Ketenagakerjaan dan dibayarkan pada periode gaji berikutnya.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        832
      ],
      "id": "d7f93aa1-312a-4c03-a888-482059bbf6b8",
      "name": "Lembur"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9f5858d-3ade-4f48-a1fe-5caa008f7ef6",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "lembur",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        832
      ],
      "id": "5d6678a6-6065-419c-a9ad-81aa5bb50fd2",
      "name": "True lembur"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "= {{ $json.lembur}}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        816
      ],
      "id": "3924baf9-a5ab-4e0f-97bf-0fbe762524f2",
      "name": "True lembur1",
      "webhookId": "691042d0-e380-4c7e-804f-6cdb733030af",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f82999ed-29ce-4217-83c8-4c4a92668d26",
              "name": "asuransi",
              "value": "Karyawan wajib membawa kartu asuransi mengisi formulir klaim, dan melampirkan kwitansi serta diagnosa dari dokter.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        1072
      ],
      "id": "813d759a-96d0-468a-8bcf-538cb62886e6",
      "name": "Asuransi"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9f5858d-3ade-4f48-a1fe-5caa008f7ef6",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "asuransi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        1072
      ],
      "id": "68586db8-9c52-475c-92c2-3386986cfffe",
      "name": "True asuransi"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "= {{ $json.asuransi}}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        1056
      ],
      "id": "c1801582-fa05-4af2-b99e-dd2eda927be8",
      "name": "True asuransi1",
      "webhookId": "691042d0-e380-4c7e-804f-6cdb733030af",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44f133ec-72a7-4f60-91ea-cb00dd1e1be6",
              "name": "alat_kerja",
              "value": "Karyawan mengajukan permintaan melalui sistem inventaris, menunggu persetujuan supervisor, dan baigan GA akan memperoses pembelian.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        1312
      ],
      "id": "392d85c1-19ee-4a5e-9dab-b60585f43a3b",
      "name": "Alat kerja"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9f5858d-3ade-4f48-a1fe-5caa008f7ef6",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "alat_kerja",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        1312
      ],
      "id": "69769c04-f70f-46a2-8d24-241086955271",
      "name": "True alat kerja"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "= {{ $json.alat_kerja}}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        1296
      ],
      "id": "b1b94e89-7a5e-4fa3-834c-c247bcfe179c",
      "name": "True alat kerja1",
      "webhookId": "691042d0-e380-4c7e-804f-6cdb733030af",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "True output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True output": {
      "main": [
        []
      ]
    },
    "Reimbursement": {
      "main": [
        [
          {
            "node": "True reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True reimbursement": {
      "main": [
        [
          {
            "node": "True reimbursement1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti": {
      "main": [
        [
          {
            "node": "True cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True cuti": {
      "main": [
        [
          {
            "node": "True cuti1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembur": {
      "main": [
        [
          {
            "node": "True lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True lembur": {
      "main": [
        [
          {
            "node": "True lembur1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asuransi": {
      "main": [
        [
          {
            "node": "True asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True asuransi": {
      "main": [
        [
          {
            "node": "True asuransi1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alat kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alat kerja": {
      "main": [
        [
          {
            "node": "True alat kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True alat kerja": {
      "main": [
        [
          {
            "node": "True alat kerja1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c9c18487-cead-4228-bcff-e0996ab556e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ba471f1d73f0afa696abfee19de2a4c3b8e1bda7786bd6c17f960f448c98e3f2"
  },
  "id": "54ykcJ7yliiRGFd5",
  "tags": []
}