SOP-AI-Agent.json
{
  "name": "SOP-AI-Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "41e60b10-3c8d-4d41-9c37-fb366572e9fb",
      "name": "Telegram Trigger",
      "webhookId": "8655b236-3a94-416e-a962-defdec3d67f9",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11058269-bd1c-479f-9b30-6a7a1f1f77ef",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur reimbursement?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "da0f02b9-bdbe-4b63-ae79-cc12dd19112d",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "a4de4b7e-44bf-4f32-a4f9-781f6ce09ca8",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana aturan lembur di perusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "38a42035-7f9f-4d18-aa28-3540561eaa52",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "23afe4d1-019e-4dab-aba5-7e6562838460",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "d75c31b2-685b-4568-a87d-1a7073923aa3",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah SOP AI Agent.\n\nATURAN KERAS:\n\n- Anda WAJIB menggunakan TOOL \"Data Pertanyaan\" sebelum menjawab.\n- Jawaban HARUS diambil dari hasil tool.\n- DILARANG menggunakan pengetahuan umum.\n- Jika data tidak ditemukan, jawab: \"Maaf, informasi tersebut tidak tersedia di SOP.\"\n\nPertanyaan pengguna:\n{{ $node[\"Telegram Trigger\"].json.message.text }}\n\nJawaban berdasarkan SOP:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        -16
      ],
      "id": "99adc2e0-4ee3-4d94-9d76-610f0c61d451",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        560,
        192
      ],
      "id": "8447dc88-cf4c-46e3-99ee-fd685aea567c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "pr8xkzVi5pTUNhRT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1waT4AtqFy8QqfdgKZBYfOrjj75vIFQwBPsoqJx-mrHc",
          "mode": "list",
          "cachedResultName": "Data Pertanyaan untuk Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1waT4AtqFy8QqfdgKZBYfOrjj75vIFQwBPsoqJx-mrHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1waT4AtqFy8QqfdgKZBYfOrjj75vIFQwBPsoqJx-mrHc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        720,
        192
      ],
      "id": "9a393aa7-a14c-4c6d-a254-2a5a87d91908",
      "name": "Data Pertanyaan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YG0E2T0iwa4JdO66",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        -16
      ],
      "id": "e426c9e8-ba3a-491e-aee0-f9ad9ea1316e",
      "name": "True output",
      "webhookId": "4669cafe-510c-46e9-ba93-bd9a2b522fe6",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Pertanyaan yang Anda kirimkan tidak sesuai, harap gunakan pertanyaan dibawah ini:\n1. Bagaimana prosedur reimbursement?\n2. Prosedur pengajuan cuti tahunan\n3. Bagaimana aturan lembur di perusahaan?\n4. Apa syarat klaim asuransi kesehatan?\n5. Bagaimana prosedur permintaan alat kerja baru?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        144
      ],
      "id": "8977eb4e-af87-47bc-b035-3e7953b787b7",
      "name": "False Output",
      "webhookId": "eac4797a-700c-47e4-b485-014eba80a835",
      "credentials": {
        "telegramApi": {
          "id": "84pnAdYb3TToMpXf",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Data Pertanyaan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "True output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6bec3eef-e499-4087-90b2-8b009a76d2a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ba471f1d73f0afa696abfee19de2a4c3b8e1bda7786bd6c17f960f448c98e3f2"
  },
  "id": "kuGTE38pNyMtTH42",
  "tags": []
}