Tugas 1 pertemuan2 IA_Bot Gambar Tele.json
{
  "name": "Tugas 2 IA_Bot Gambar Tele",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://jsonplaceholder.typicode.com/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorazation",
              "value": "=Bearer {{ $json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"task_type\": \"{{ $json.task_type }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        0
      ],
      "id": "677282e0-0063-44e5-8ca2-4ff3bf0d7976",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        288,
        0
      ],
      "id": "7fe993c7-050f-4ea4-9eb1-28dc2ead1cea",
      "name": "Wait",
      "webhookId": "59d31e4a-f95a-496a-9a41-34e10ec0ba41"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts/1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "value": "=Authorization: Bearer {{ $('Generate gambar konten otomatis').item.json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        0
      ],
      "id": "924909e2-f808-442a-b0dc-4d993279c424",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "formTitle": "Generate gambar konten otomatis",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "task_type",
              "placeholder": "mj_txt2img"
            },
            {
              "fieldLabel": "api_key",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "7127b4c2-a169-43ca-bfe2-9b777f1d792f",
      "name": "Generate gambar konten otomatis",
      "webhookId": "02e2a581-5bab-4b80-aa07-1f5d2e9ef7d3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "67f00aa9-b2f2-4a00-ad44-3f9278a77d96",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        0
      ],
      "id": "9a2bca65-e19e-4e1d-9ae0-415391032f63",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    img1: \"https://picsum.photos/200\",\n    img2: \"https://picsum.photos/201\",\n    img3: null,\n    img4: null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -16
      ],
      "id": "63587eac-ffb2-455c-a80e-6f77590e286d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const urls = [\n  $json.img1,\n  $json.img2,\n  $json.img3,\n  $json.img4\n].filter(Boolean);\n\nreturn urls.map((url, index) => ({\n  json: {\n    url,\n    index: index + 1\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -16
      ],
      "id": "c8857647-d61f-4a82-889c-761fffad57b9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1152,
        -16
      ],
      "id": "6cc5e998-c27a-44ae-9704-2e33d8c98c1a",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1365176075",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        -16
      ],
      "id": "00423ddf-3cca-4803-880e-42660515e0ea",
      "name": "Send a photo message",
      "webhookId": "4dacfde3-308f-4de4-80c5-95ceddde08c7",
      "credentials": {
        "telegramApi": {
          "id": "zy1Nw44oIoSY2w4L",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate gambar konten otomatis": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5c11837b-889a-4f24-8142-6125edf2bb5c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3daceff5c86313ebf3f47f1e744b0d129b3a14640ce2ece4c8dd32696e35ede3"
  },
  "id": "48RfgYuR02QzMOvb",
  "tags": []
}